.register-container .row {
  height: 700px;
  padding: 20px 0;
}
.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}
.register-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 50px 0;
  height: 100%;
}
.register-img {
  width: 30%;
}
.register-form {
  width: 35%;
}
.register-form .register-input {
  position: relative;
}
.register-form .register-input input {
  width: 100%;
  padding: 14px 45px;
  border-radius: 50px;
  color: #666 !important;
  background-color: #e6e6e6;
  font-weight: 600;
  border: 0;
  outline: 0;
}
.register-form .icon {
  position: absolute;
  left: 6%;
  top: 30%;
  color: #666;
}
.register-btn {
  width: 100%;
  padding: 14px 45px;
  border-radius: 50px;
  color: #fff;
  background-color: #2ecc71;
  font-weight: 600;
  border: 0;
  outline: 0;
  transition: 0.5s;
}
.register-btn:hover {
  background-color: #27ae60;
  color: #fff;
}

.bottom-border {
  border: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.bottom-border .line {
  width: 40%;
  height: 1px;
  background-color: #ddd;
}
.google-login-btn {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 50px;
  padding: 8px 0;
}

@media screen and (max-width: 991px) {
  .register-form {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .register-wrapper {
    width: 100%;
  }
  .register-form {
    width: 60%;
  }
}
